* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto; }

.templateRow, .row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left; }

[class*="col-offset-"] {
  min-height: 7px;
  padding: 12px;
  float: left; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.col-offset-1 {
  margin-left: 8.33333%; }

.col-offset-2 {
  margin-left: 16.66667%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33333%; }

.col-offset-5 {
  margin-left: 41.66667%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33333%; }

.col-offset-8 {
  margin-left: 66.66667%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33333%; }

.col-offset-11 {
  margin-left: 91.66667%; }

.col-offset-12 {
  margin-left: 100%; }

body,
html {
  width: 100%;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.portada {
  height: 60vh;
  background-image: url("../assets/img/carousel-bg.jpg");
  background-size: cover;
  text-align: center;
  color: #fff; }
  .portada .portada__titulo--padTop {
    padding-top: 5%; }
  .portada .portada__texto--padTop {
    padding-top: 15%; }
  .portada .portada__texto--weight {
    font-weight: 500; }

.about {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #2c3e50; }

.about__title {
  text-align: center;
  font-size: 3.5em; }

.about__paragraph {
  font-size: 12px; }

.about__title-color, .about__paragraph-color {
  color: #fff;
  line-height: 1.5em; }

.about_img-size {
  width: 75%; }

.bars {
  padding-right: 5%; }

.progress {
  height: 10px;
  margin: 20px 0 0 0;
  background-color: #f5f5f5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 2px; }

.progress-bar {
  float: left;
  height: 100%;
  background-color: #e67e22;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); }

/*seccion angie*/
.navegador {
  background: #27ad60;
  height: 130px; }

.logo {
  margin-top: 5%; }

.menu {
  margin-top: 5%;
  margin-left: 5%;
  display: inline-block; }
  .menu .menu__item {
    text-decoration: none;
    color: #fff;
    cursor: pointer; }
  .menu .menu__item--color,
  .menu .social__icono--color {
    color: #fff;
    font-size: 100px; }

.contenedor-social {
  margin-top: 10%; }

.social {
  font-size: 90px;
  display: inline-block;
  margin-left: 3%; }
  .social .social__icono {
    color: #fff;
    cursor: pointer; }

#redes-sociales {
  background-image: url("../assets/img/img-divider.jpg");
  height: 392px;
  max-width: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: round;
  text-align: center; }

#contacto {
  background: #27ad60;
  color: #fff;
  text-align: center; }
  #contacto .contacto__item {
    margin-top: 3%; }
    #contacto .contacto__item span {
      border-bottom: 1px solid #fff;
      padding-bottom: 5%; }
    #contacto .contacto__item .contacto__item--list {
      margin-top: 15%;
      font-size: 14px; }

.clients-say {
  background-color: #2c3e50; }
  .clients-say .clients-say_item {
    text-align: center;
    color: #fff; }

.palette {
  text-align: center; }
  .palette .palette__titulo--padTop {
    padding-top: 10%; }
  .palette .palette__linea {
    width: 16.6%;
    margin-left: 42%; }
  .palette .palette__linea--color {
    color: #c1c1c1; }

.colores .colores--selector {
  border: 1px solid black;
  height: 80px;
  margin-top: 2%; }

/*seccion nancy*/
.texto-centrado {
  text-align: center; }

.padding-precios {
  padding-top: 10px;
  padding-bottom: 10px; }

#titulo-bestprice, #subtitulo-bestprice {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 40px;
  margin-top: 50px; }

#linea-precios {
  border-top: solid 1px #fff;
  width: 200px;
  margin-top: 15px; }

#best-price {
  background-color: #2c3e50; }

#subtitulo-bestprice {
  font-size: 10px;
  margin-top: 0; }

.contenedorPrecio {
  border: solid 1px #27ad60; }
  .contenedorPrecio .contenedorPrecio__item .contenedorPrecio__item--tituloPrecio {
    font-family: "inherit", monospace;
    color: #f5f5f5;
    font-size: 12px; }

/*fin nancy*/
.services {
  background-color: #27ad60;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #fff;
  text-align: center; }
  .services__title {
    font-size: 25px; }
  .services__hr {
    width: 10%;
    height: 5px;
    background-color: #fff;
    margin: 10px;
    border: none;
    border-style: none; }

.form__title {
  font-size: 25px; }
.form__container {
  background: #2c3e50;
  color: #fff;
  padding: 50px 0; }
.form__items {
  display: block;
  margin-top: 15px; }
.form__button {
  border: none;
  padding: 2%;
  background: #453f45;
  color: #fff; }
.form__p--margin {
  margin-bottom: 50px; }

.center {
  text-align: center; }

hr {
  margin: 20px 0;
  box-sizing: content-box; }

.hr {
  width: 15%;
  border: 0;
  border-bottom: 1px solid #fff;
  height: 5px; }

/*# sourceMappingURL=style.css.map */
