$color-green:#27ad60;
$color-blue:#2c3e50;
$font-light:#fff;
$font-grey:#c1c1c1;
$font-drak:#443e3e;
$color-orange:#e67e22;
$color-button:#453f45;
// $tamaño-titulo:h2;
// $tamaño-subtitulo:h5;
$size-text:12px;
$size-cita:14px;
$font-principal:"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-cita:italic;
