$color-verde:#27ad60;
$color-azul:#2c3e50;
$font-claro:#fff;
$font-medio:#c1c1c1;
$font-oscuro:#443e3e;
$color-naranja:#e67e22;
$color-boton:#453f45;
// $tamaño-titulo:h2;
// $tamaño-subtitulo:h5;
$tamaño-texto:12px;
$tamaño-cita:14px;
$font-principal:"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-cita:italic;