@import'grid';
@import'variables';

// Estilos generales
body{
	font-family: $font-principal;
}

// Estilos PORTADA
.portada{
	height:60vh;
	background-image: url("../assets/img/carousel-bg.jpg");
	background-size: cover;
	text-align: center;
	color: $font-light;
	.portada__titulo--padTop{
		padding-top: 5%;
	}
	.portada__texto--padTop{
		padding-top: 15%;
	}
	.portada__texto--weight{
		font-weight: 500;
	}
}
// Fin estilos Portada
// Inicio estilos Paleta de Colores
.palette{
	text-align: center;
	.palette__titulo--padTop{
		padding-top: 5%;
	}
	.palette__linea{
		width: 16.6%;
		margin-left: 42%;
	}
	.palette__linea--color{
		color: $font-grey;
	}

}

.colores{
	.colores__selector{
		border: 1px solid black;
		height: 80px;
		margin-bottom: 1%;
	}
	// fila 1
	.colores__selector--1A{
		background-color: #69D2E7;
	}
	.colores__selector--1B{
		background-color: #A7DBDB;
	}
	.colores__selector--1C{
		background-color: #E0E4CC;
	}
	.colores__selector--1D{
		background-color: #F38630;
	}
	.colores__selector--1E{
		background-color: #FA6900;
	}
	// fila 2
	.colores__selector--2A{
		background-color: #E94C6F;
	}
	.colores__selector--2B{
		background-color: #542733;
	}
	.colores__selector--2C{
		background-color: #5A6A62;
	}
	.colores__selector--2D{
		background-color: #C6D5CD;
	}
	.colores__selector--2E{
		background-color: #FDF200;
	}
	// fila 3
	.colores__selector--3A{
		background-color: #DB3340;
	}
	.colores__selector--3B{
		background-color: #E8B71A;
	}
	.colores__selector--3C{
		background-color: #F7EAC8;
	}
	.colores__selector--3D{
		background-color: #1FDA9A;
	}
	.colores__selector--3E{
		background-color: #28ABE3;
	}
	// fila 4
	.colores__selector--4A{
		background-color: #588C73;
	}
	.colores__selector--4B{
		background-color: #F2E394;
	}
	.colores__selector--4C{
		background-color: #F2AE72;
	}
	.colores__selector--4D{
		background-color: #D96459;
	}
	.colores__selector--4E{
		background-color: #8C4646;
	}
	// fila 5
	.colores__selector--5A{
		background-color: #D0C91F;
	}
	.colores__selector--5B{
		background-color: #85C4B9;
	}
	.colores__selector--5C{
		background-color: #008BBA;
	}
	.colores__selector--5D{
		background-color: #DF514C;
	}
	.colores__selector--5E{
		background-color: #DC403B;
	}

}
// Fin estilos Paleta de Colores
// incia ABOUT
.about{
  font-family: $font-principal;
  background: $color-blue;
}
.about__title{
  text-align: center;
}
.about__paragraph{
  font-size: $size-text;
}
.about__title-color, .about__paragraph-color{
  color: $font-light;
}
.about_img-size{
  width: 75%;
}
// final ABOUT
body,
html {
  width: 100%;
  padding: 0;
  font-family: $font-principal;
}
/*seccion angie*/
.navegador {
  background: $color-green;
  height: 130px;
}

.logo,
.menu {
  margin-top: 5%;
}

.menu__item--estilo,
.social__icono--estilo {
  text-decoration: none;
}

.menu__item--color,
.social__icono--color {
  color: $font-light;
  font-size: 100px;
}


.menu__item,
.social {
  margin-left: 5%;
  display: inline-block;
}

#contacto {
  background-image: url('../assets/img/img-divider.jpg');
  background-size: cover;
  background-repeat: repeat;
  height: 300px;
  text-align: center;
}

// Estilos fer
.clients-say{
    background-color: $color-blue;
    .clients-say_item{
        text-align: center;
    }
}
// Fin fer

/*seccion nancy*/
@mixin titulos-precios($font-principal,$font-precio-color,$size-text){
    font-family: $font-principal;
    color: $font-precio-color;
    font-size: $size-text;
}
.texto-centrado{
  text-align: center;
}
#best-price{
  background-color:$color-blue;
}
.contenedorPrecio{
  border: solid 1px $color-green;

    .contenedorPrecio__item{

      .contenedorPrecio__item--tituloPrecio{
        @include titulos-precios($font-precios,$font-precio-color,$size-text);
        padding-top:10px;
        padding-bottom:10px;
      }

    }
}
//Titulos//

//FORM//
.form__container{
    background: $color-blue;
    color: $font-light;
    padding: 50px 0;
}
.form__items{
    display: block;
    margin-top: 15px;
}
.form__button{
    border: none;
    padding: 2%;
    background: $color-button;
    color: $font-light;
}
.form__p--margin{
    margin-bottom: 50px;
}

//Common//
.center{
    text-align: center;
}
hr{
    margin: 20px 0;
    box-sizing: content-box;
}
.hr{
    width: 15%;
    border: 0;
    border-bottom: 1px solid $font-light;
    height: 5px;
}

/*fin nancy*/
