@import'grid';
@import'variables';


// incia ABOUT
.about{
  font-family: $font-principal;
  background: $color-blue;
}
.about__title{
  text-align: center;
}
.about__paragraph{
  font-size: $size-text;
}
.about__title-color, .about__paragraph-color{
  color: $font-light;
}
.about_img-size{
  width: 75%;
}
// final ABOUT
/*seccion nancy*/
.contenedor-precio {
  border: solid 1px $color-green;
}
/*fin nancy*/
body,
html {
  width: 100%;
  padding: 0;
  font-family: $font-principal;
}
/*seccion angie*/
.navegador {
  background: $color-green;
  height: 130px;
}

.logo,
.menu {
  margin-top: 5%;
}

.menu__item--estilo,
.social__icono--estilo {
  text-decoration: none;
}

.menu__item--color,
.social__icono--color {
  color: $font-light;
  font-size: 100px;
}


.menu__item,
.social {
  margin-left: 5%;
  display: inline-block;
}

#contacto {
  background-image: url('../assets/img/img-divider.jpg');
  background-size: cover;
  background-repeat: repeat;
  height: 300px;
  text-align: center;
}

// Estilos fer
.clients-say{
    background-color: $color-blue;
    .clients-say_item{
        text-align: center;
    }
}
// Fin fer


// Estilos PORTADA
#portada {
  height: 80vh;
  background-image: url("../assets/img/carousel-bg.jpg");
  background-size: cover;
}
// Fin estilos PORTADA

//Titulos//

//FORM//
.form__container{
    background: $color-blue;
    color: $font-light;
    padding: 50px 0;
}
.form__items{
    display: block;
    margin-top: 15px;
}
.form__button{
    border: none;
    padding: 2%;
    background: $color-button;
    color: $font-light;
}
.form__p--margin{
    margin-bottom: 50px;
}

//Common//
.center{
    text-align: center;
}
hr{       
    margin: 20px 0;
    box-sizing: content-box;
}
.hr{
    width: 15%; 
    border: 0;
    border-bottom: 1px solid $font-light;
    height: 5px;
}

