@import'grid';
@import'variables';

// Estilos generales
body,
html {
  width: 100%;
  padding: 0;
  font-family: $font-principal;
}
// Estilos PORTADA
.portada{
	height:60vh;
	background-image: url("../assets/img/carousel-bg.jpg");
	background-size: cover;
	text-align: center;
	color: $font-light;
	.portada__titulo--padTop{
		padding-top: 5%;
	}
	.portada__texto--padTop{
		padding-top: 15%;
	}
	.portada__texto--weight{
		font-weight: 500;
	}
}
// Fin estilos Portada
// Inicio estilos Paleta de Colores
.palette{
	text-align: center;
	.palette__titulo--padTop{
		padding-top: 5%;
	}
	.palette__linea{
		width: 16.6%;
		margin-left: 42%;
	}
	.palette__linea--color{
		color: $font-grey;
	}

}

.colores{
	.colores__selector{
		border: 1px solid black;
		height: 80px;
		margin-bottom: 1%;
	}
	// fila 1
	.colores__selector--1A{
		background-color: #69D2E7;
	}
	.colores__selector--1B{
		background-color: #A7DBDB;
	}
	.colores__selector--1C{
		background-color: #E0E4CC;
	}
	.colores__selector--1D{
		background-color: #F38630;
	}
	.colores__selector--1E{
		background-color: #FA6900;
	}
	// fila 2
	.colores__selector--2A{
		background-color: #E94C6F;
	}
	.colores__selector--2B{
		background-color: #542733;
	}
	.colores__selector--2C{
		background-color: #5A6A62;
	}
	.colores__selector--2D{
		background-color: #C6D5CD;
	}
	.colores__selector--2E{
		background-color: #FDF200;
	}
	// fila 3
	.colores__selector--3A{
		background-color: #DB3340;
	}
	.colores__selector--3B{
		background-color: #E8B71A;
	}
	.colores__selector--3C{
		background-color: #F7EAC8;
	}
	.colores__selector--3D{
		background-color: #1FDA9A;
	}
	.colores__selector--3E{
		background-color: #28ABE3;
	}
	// fila 4
	.colores__selector--4A{
		background-color: #588C73;
	}
	.colores__selector--4B{
		background-color: #F2E394;
	}
	.colores__selector--4C{
		background-color: #F2AE72;
	}
	.colores__selector--4D{
		background-color: #D96459;
	}
	.colores__selector--4E{
		background-color: #8C4646;
	}
	// fila 5
	.colores__selector--5A{
		background-color: #D0C91F;
	}
	.colores__selector--5B{
		background-color: #85C4B9;
	}
	.colores__selector--5C{
		background-color: #008BBA;
	}
	.colores__selector--5D{
		background-color: #DF514C;
	}
	.colores__selector--5E{
		background-color: #DC403B;
	}
}
// Fin estilos Paleta de Colores
// incia ABOUT
.about{
  background: $color-blue;
  padding: 8% 4%;
  &__title{
    text-align: center;
    font-size: 3.5em;
    &--color{
      color: $font-light;
      line-height: 1.5em;
    }
  }
  &__paragraph{
    font-size: $size-text;
    &--color{
     color: $font-light;
     line-height: 1.5em;
   }
  }
}
.about_img-size{
  width: 80%;
}
.bars{
  padding-right: 5%;
  margin-top:15%;
  .progress{
    height: 10px;
    margin: 20px 0 0 0;
    background-color: #f5f5f5;
    box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
    padding: 2px;
    &--bar{
      float: left;
      height: 100%;
      background-color:$color-orange;
      box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    }
  }
}

// final ABOUT

/*seccion angie*/
.navegador {
  background: $color-green;
  height: 130px;
}

.logo {
  margin-top: 5%;
}

.menu {
  margin-top: 5%;
  margin-left: 5%;
  display: inline-block;

  .menu__item {
    text-decoration: none;
    color: $font-light;
    cursor: pointer;
  }
}
.contenedor-social {
  margin-top: 10%;
}

.social {
  font-size: 90px;
  display: inline-block;
  margin-left: 3%;

  .social__icono{
    color: $font-light;
    cursor: pointer;
  }
}

#redes-sociales {
  background-image: url('../assets/img/img-divider.jpg');
  height: 392px;
  max-width: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: round;
  text-align: center;
}

#contacto {
  background: $color-green;
  color: $font-light;
  text-align: center;

  .contact {
    margin-top: 3%;

    span{
      border-bottom: 1px solid $font-light;
      padding-bottom: 5%;
    }

    .contacto__list {
      margin-top: 15%;
      font-size: $size-cita;
      list-style: none;
      text-align: left;
      margin-left: 30%;

      .contacto__list--item{
        margin-top: 5%;

        .contacto__list--icono {
          text-decoration: none;
          color: $font-light;
        }
      }
    }
  }
}

.input {
  font-size: $size-text;
  width: 70%;
}

.btn-suscribe {
  font-size: $size-text;
  padding: 2%;
  background: $color-button;
  color: $font-light;
  border: 1px solid $color-button;
}

.privacy {
  font-size: 13px;
  margin-top: 5%;
  padding-bottom: 2%;
  p {
    color: $color-blue;
  }

  a{
    color: $font-light;
    text-decoration: none;
    cursor: pointer;
  }
}
// Estilos fer
.clients-say{
    background-color: $color-blue;
    .clients-say_item{
        text-align: center;
        color: $font-light;
    }
}
// Fin fer

/*seccion nancy*/
@mixin titulos-precios($font-principal,$font-precio-color,$size-text){
    font-family: $font-principal;
    color: $font-precio-color;
    font-size: $size-text;
}
@mixin titulo-bestP($font-principal,$font-light,$size-cita){
    font-family: $font-principal;
    color: $font-light;
    font-size: $size-cita;
}
.enlinea{
  display: inline-block;
}
.texto-blanco{
  color: $font-light;
}
.padding-precios{
  padding-top: 10px;
  padding-bottom: 10px;
}
.titulo-bestprice{
  @include titulo-bestP($font-principal,$font-light,$size-bestP);
  margin-top: 50px;
}
.precios-numeros{
  @extend .titulo-bestprice;
  margin-top: 12px;
}
#linea-precios{
  border-top:solid 1px $font-light;
  width: 200px;
  margin-top: 15px;
}
#best-price{
  background-color: $color-blue;
}
.subtitulo-bestprice{
  @extend .titulo-bestprice;
  font-size: $size-text-blanco;
  margin-top: 0;
}
.contenedorPrecio{
  border: solid 1px $color-green;
  padding-bottom:120px;
  .contenedorPrecio__item{
    .contenedorPrecio__item--tituloPrecio{
      @include titulos-precios($font-precios,$font-precio-color,$size-text);
    }

  }
}
/*for para las segunda fila*/
@for $i from 1 through 4 {
  .contenedorPrecio__item-#{$i}{
  background-color:$color-green;
  padding-bottom:25px;
  margin-bottom: 25px;
  }
}
.fila-blanca{
  padding-bottom:10px;
}
.texto-azul{
  color: $color-txt;
}
/* fin del for para las segunda fila*/
// segundo for
@for $j from 1 through 3 {
  .fila-gris-#{$j}{
  background-color:$font-precio-color;

  }
}
.botones-precio{
  margin-top: 50px;
  .boton-precio{
    padding:10px;
    background-color:$color-button;
    border:$color-button;
    color: $font-light;
  }
}
// fin del segundo for
/*fin nancy*/

//Titulos//
// What we Do style
.services__container, #awesomeTeam{
  background-color: $color-green;
  color: $font-light;
  padding: 50px 0;
}
.services__p--margin{
    margin-bottom: 50px;
}

.services__item{
  display: inline-block;
  justify-content: center;
  padding: 30px;
  &--background{
    background-color: $color-blue;
  }
}
.services__subtitle{
  padding: 5%;
}
.services__text--style{
  font-size: $size-text;
  line-height: 1.42;
}
.services__button{
  font-family: $font-principal;
  font-weight: 200;
  color: $font-light;
  text-align: center;
  &__title{
    font-size: $size-title;
  }
}


//Team style
.team__container{
  background: $color-green;
  color: $font-light;
  padding: 50px 0;
}
.team__items{
  margin-left: 10%;
}
.team__p--margin{
    margin-bottom: 50px;
}
.team__text--style{
  font-size: $size-text;
  line-height: 1.42;
}


//FORM//
.form{
    &__title{
        font-size: $size-title;
    }
   &__container{
        background: $color-blue;
        color: $font-light;
        padding: 50px 0;
    }
    &__items{
        display: block;
        margin-top: 15px;
    }
    &__button{
        border: none;
        padding: 2%;
        background: $color-button;
        color: $font-light;
    }
    &__p{
        &--margin{
            margin-bottom: 50px;
        }
    }
}


//Common//
.center{
    text-align: center;
}
hr{
    margin: 20px 0;
    box-sizing: content-box;
}
.hr{
    width: 15%;
    border: 0;
    border-bottom: 1px solid $font-light;
    height: 5px;
}

/*fin nancy*/
