@import'grid';
@import'variables';


// incia ABOUT
.about{
  font-family: $font-principal;
  background: $color-blue;
}
.about__title{
  text-align: center;
}
.about__paragraph{
  font-size: $size-text;
}
.about__title-color, .about__paragraph-color{
  color: $font-light;
}
.about_img-size{
  width: 75%;
}
// final ABOUT
/*seccion nancy*/
.contenedor-precio {
  border: solid 1px $color-green;
}
/*fin nancy*/
body,
html {
  width: 100%;
  padding: 0;
  font-family: $font-principal;
}
/*seccion angie*/
.navegador {
  background: $color-green;
  height: 130px;
}

.logo {
  margin-top: 5%;
}

.menu {
  margin-top: 5%;
  margin-left: 5%;
  display: inline-block;

  .menu__item {
    text-decoration: none;
    color: $font-light;
    cursor: pointer;
  }
}

.contenedor-social {
  margin-top: 10%;
}

.social {
  font-size: 90px;
  display: inline-block;
  margin-left: 3%;

  .social__icono{
    color: $font-light;
    cursor: pointer;
  }
}

#redes-sociales {
  background-image: url('../assets/img/img-divider.jpg');
  height: 392px;
  max-width: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: round;
  text-align: center;
}

#contacto {
  background: $color-green;
  color: $font-light;
  text-align: center;

  .contacto__item {
    margin-top: 3%;

    span{
      border-bottom: 1px solid $font-light;
      padding-bottom: 5%;
    }
    .contacto__item--list {
      margin-top: 15%;
      font-size: 14px;
    }
  }
}
// Estilos fer
.clients-say{
    background-color: $color-blue;
}
// Fin fer


// Estilos PORTADA
#portada {
  height: 80vh;
  background-image: url("../assets/img/carousel-bg.jpg");
  background-size: cover;
}
// Fin estilos PORTADA

//Titulos//

//FORM//
.form__container{
    background: $color-blue;
    color: $font-light;
    padding: 50px 0;
}
.form__items{
    display: block;
    margin-top: 15px;
}
.form__button{
    border: none;
    padding: 2%;
    background: $color-button;
    color: $font-light;
}
.form__p--margin{
    margin-bottom: 50px;
}

//Common//
.center{
    text-align: center;
}
hr{
    margin: 20px 0;
    box-sizing: content-box;
}
.hr{
    width: 15%;
    border: 0;
    border-bottom: 1px solid $font-light;
    height: 5px;
}
