@import'grid';
@import'variables';

body,
html {
  width: 100%;
  padding: 0;
}

.navegador {
  background: $color-green;
  height: 130px;
}

.menu , .logo{
  margin-top: 5%;

  .menu__item {
    display: inline-block;
    margin-left: 5%;

    .menu__item--estilo {
      text-decoration: none;
      color: $font-light;
      font-family: $font-principal;
    }
  }
}

// Estilos PORTADA
#portada{
	height:80vh;
	background-image: url("../assets/img/carousel-bg.jpg");
	background-size: cover;
}
// Fin estilos PORTADA

/*seccion nancy*/
@mixin titulos-precios($font-principal,$font-precio-color,$size-text){
    font-family: $font-principal;
    color: $font-precio-color;
    font-size: $size-text;
}
.texto-centrado{
  text-align: center;
}
#best-price{
  background-color:$color-blue;
}
.contenedorPrecio{
  border: solid 1px $color-green;

    .contenedorPrecio__item{

      .contenedorPrecio__item--tituloPrecio{
        @include titulos-precios($font-precios,$font-precio-color,$size-text);
        padding-top:10px;
        padding-bottom:10px;
      } 
      
    }
}

/*fin nancy*/
