@import'grid';
@import'variables';

// Estilos generales
body,
html {
  width: 100%;
  padding: 0;
  font-family: $font-principal;
}
// Estilos PORTADA
.portada{
	height:60vh;
	background-image: url("../assets/img/carousel-bg.jpg");
	background-size: cover;
	text-align: center;
	color: $font-light;

	.portada__titulo--padTop{
		padding-top: 5%;
	}
	.portada__texto--padTop{
		padding-top: 15%;
	}
	.portada__texto--weight{
		font-weight: 500;
	}
}
// incia ABOUT
.about{
  font-family: $font-principal;
  background: $color-blue;
}
.about__title{
  text-align: center;
}
.about__paragraph{
  font-size: $size-text;
}
.about__title-color, .about__paragraph-color{
  color: $font-light;
}
.about_img-size{
  width: 75%;
}
// final ABOUT

/*seccion angie*/
.navegador {
  background: $color-green;
  height: 130px;
}

.logo,
.menu {
  margin-top: 5%;
}

.menu__item--estilo,
.social__icono--estilo {
  text-decoration: none;
}

.menu__item--color,
.social__icono--color {
  color: $font-light;
  font-size: 100px;
}


.menu__item,
.social {
  margin-left: 5%;
  display: inline-block;
}

#contacto {
  background-image: url('../assets/img/img-divider.jpg');
  background-size: cover;
  background-repeat: repeat;
  height: 300px;
  text-align: center;
}

// Estilos fer
.clients-say{
    background-color: $color-blue;
    .clients-say_item{
        text-align: center;
        color: $font-light;
    }
}
// Fin fer

.palette{
	text-align: center;
	.palette__titulo--padTop{
		padding-top: 10%;
	}
	.palette__linea{
		width: 16.6%;
		margin-left: 42%;
	}
	.palette__linea--color{
		color: $font-grey;
	}

}

.colores{
	// border: 1px solid green;
	.colores--selector{
		border: 1px solid black;
		height: 80px;
		margin-top: 2%;
	}

}
// Fin estilos PORTADA

/*seccion nancy*/
@mixin titulos-precios($font-principal,$font-precio-color,$size-text){
    font-family: $font-principal;
    color: $font-precio-color;
    font-size: $size-text;
}
.texto-centrado{
  text-align: center;
}
#best-price{
  background-color:$color-blue;
}
.contenedorPrecio{
  border: solid 1px $color-green;

    .contenedorPrecio__item{

      .contenedorPrecio__item--tituloPrecio{
        @include titulos-precios($font-precios,$font-precio-color,$size-text);
        padding-top:10px;
        padding-bottom:10px;
      } 
      
    }
}
//Titulos//

//FORM//
.form__container{
    background: $color-blue;
    color: $font-light;
    padding: 50px 0;
}
.form__items{
    display: block;
    margin-top: 15px;
}
.form__button{
    border: none;
    padding: 2%;
    background: $color-button;
    color: $font-light;
}
.form__p--margin{
    margin-bottom: 50px;
}

//Common//
.center{
    text-align: center;
}
hr{       
    margin: 20px 0;
    box-sizing: content-box;
}
.hr{
    width: 15%; 
    border: 0;
    border-bottom: 1px solid $font-light;
    height: 5px;
}

/*fin nancy*/

