@import'grid';
@import'variables';



// Estilos PORTADA
#portada{
	height:80vh;
	background-image: url("../assets/img/carousel-bg.jpg");
	background-size: cover;
}
// Fin estilos PORTADA


//Titulos//

//FORM//
.form__container{
    background: $color-blue;
    color: $font-ligth;
}
.form__items{
    display: block;
    margin-bottom: 15px;
}
.form__button{
    border: none;
    padding: 2%;
    background: $color-button;
    color: $font-ligth;
}
.center{
    text-align: center;
}
.hr{
    border: 0;
    border-top: 1px solid $font-ligth;
    margin: 20px 0;
    height: 5px;
    width: 10%;
}
